= form_for(@article) do |f|
  %ul
    - @article.errors.full_messages.each do |error|
      %li
        = error

  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :body
    = f.text_area :body
  %p
    = f.label :tag_list
    = f.text_field :tag_list
  %p
    - if @article.image.exists?
      = image_tag @article.image.url
  %p
    = f.label :image, "Attach an Image"
    = f.file_field :image
  %p= f.submit
