%h1
  = @article.title
- if @article.image.exists?
  %p
    = image_tag @article.image.url
%p
  = @article.body
%p
  = "Tags: "
  - @article.tags.each do |tag|
    = link_to tag.name, tag_path(tag)

= render :partial => "corments/form"
%p
  = link_to "<< Back to list of articles", articles_path
%p
  = link_to "Edit Article", edit_article_path(@article)
%p
  = link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}
%h3
  = "Comments (#{@article.comments.size})"
= render :partial => "comment", collection: @article.comments.reverse
