%h1
  = @article.title
%p
  = @article.body
= render :partial => "comments/form"
%p
  = link_to "<< Back to list of articles", articles_path
%p
  = link_to "Edit Article", edit_article_path(@article)
%p
  = link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}
%h3
  = "Comments (#{@article.comments.size})"
= render :partial => "comment", collection: @article.comments.reverse
