!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blogger
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    %p.flash= flash.notice
    #container
      #content
        = yield
        %hr
        %h6
          - if logged_in?
            = "Logged in as #{current_user.email}"
            = link_to "(logout)", logout_path
          - else
            = "Logged Out"
            = link_to "(login)", login_path
